.whole-page{
    background-image: url('../../assets/bg1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: ease-in 1s;
    overflow:hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #101a27; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(253, 253, 253); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  