@font-face {
    font-family: tFont;
    src: url('../../../assets/static/Orbitron-Regular.ttf');
  }
  @font-face {
    font-family: tttFont;
    src: url('../../../assets/static/Orbitron-Black.ttf');
  }
  @font-face {
    font-family: wireoneFont;
    src: url('../../../assets/WireOne-Regular.ttf');
  }

  @media only screen and (max-width: 700px) {

    .Second-page{
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    .About_Me{
        padding: 0% 3% 0% 3%;
        margin: 0;
        border-top: solid rgba(255, 255, 255, 0.541) 5px;
        background-color: rgba(44, 44, 44, 0.555);
        border-bottom: solid rgba(255, 255, 255, 0.541) 5px;
    
    
        
    
    }
    
    .About_Me h1{
        color: #eeeeee;
        margin: 0;
        border: 0;
        text-align: center;
        border-bottom: 3px solid #eeeeee ;
    
    }
    .container {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }
      
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        transition: .5s ease;
        background-color: rgba(49, 49, 49, 0.384);
      }
    .overlay img{
        opacity: 1;
    }
      
    

      
    .text{
        color: #ffffff;
        text-decoration: none;
        font-family: ttFont;
        font-size: 0.9em;
        line-height: 1;
    }
    
    .About_Me_Boxes{
        display: grid; 
        grid-template-columns: 1fr 1fr ;
        padding: 3%  0% 0% 0%;
    }
    
    .About_Me_Boxes img{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .text img{
        width: 70%;
        height: 80%;
        padding: 0;
        margin: 0;
    }
    #Grad{
        width: 70%;
        height: 90%;
    }
    #ExpBox{
        height: 60%;
        width: 50%;
    }
    #MyStoryP{
        margin-top: 0%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.541);
    }
    #ExpBox{
        margin-top: 8%;
    }  
}









/***************************************************
*****************************************************
************************************/








@media only screen and (min-width: 700px) {

    .Second-page{
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
    .About_Me{
        padding: 0% 3% 3% 3%;
        margin: 0;
        border-top: solid rgba(255, 255, 255, 0.541) 5px;
        background-color: rgba(44, 44, 44, 0.555);
        border-bottom: solid rgba(255, 255, 255, 0.541) 5px;
    
    
        
    
    }
    
    .About_Me h1{
        color: #eeeeee;
        margin: 0;
        border: 0;
        text-align: center;
        border-bottom: 3px solid #eeeeee ;
    
    }
    .container {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }
      
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        transition: .5s ease;
        background-color: rgba(49, 49, 49, 0.384);
      }
    .overlay img{
        opacity: 0.1;
    }
      
    .container:hover .overlay img{
        opacity: 1;
    
      }
    .container:hover .overlay {
        opacity: 1;
        background-color: rgba(73, 73, 73, 0.74);
    
      }
      
    .text{
        color: #ffffff;
        text-decoration: none;
        font-family: ttFont;
        font-size: 2em;
        line-height: 1;
    }
    
    .About_Me_Boxes{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 3%  0% 0% 0%;
    }
    
    .About_Me_Boxes img{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    .text img{
        width: 70%;
        height: 80%;
        padding: 0;
        margin: 0;
    }
    #Grad{
        width: 70%;
        height: 90%;
    }
    #ExpBox{
        height: 60%;
        width: 50%;
    }
    #MyStoryP{
        margin-top: 0%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.541);
    }
    #ExpBox{
        margin-top: 8%;
    }  
}
